include README.md
recursive-include octoprint_LogitechCameraControl/templates *
recursive-include octoprint_LogitechCameraControl/translations *
recursive-include octoprint_LogitechCameraControl/static *
